h1 Customer Profile
//- for result in results
.form-row
span Customer ID
  p #{id}
.form-row
  label
    span Customer Name
.form-row
  input(type="text" value="#{description}")
  button(type="submit") Submit
.form-row
  label
    span Customer Email
.form-row
  input(type="text" value="#{email}")
  button(type="submit") Submit
.form-row
span Account Balance
  p #{account_balance} #{currency}
